@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background: #f4f2fb;
}

/* Verberg de standaard Leaflet-attributie-rand netjes */
.leaflet-container {
  font-family: inherit;
}
